<% content_for :title, "Welcome" %>
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4" style="text-align:center;">Welcome to Remember!</h1>
                <br/>
                <h4 style="text-align:center;">My boards</h4>
                <% if user_signed_in? %>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Board ID</th>
                            <th>Remembered</th>
                            <th>Updated at</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% user_boards.each do |board| %>
                        <tr>
                            <th scope="row">1</th>
                            <td><%= link_to board.name, board_path(board), style: 'color:black' %></td>
                            <td><%= board.uuid %></td>
                            <td><%= board.remembered? %></td>
                            <td><%= board.updated_at.strftime("%e/%m/%y - %H:%M:%S") %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            <% else %>
                <p class="lead">Register to get started using Remember or sign in.</p>
                <p>
                    <%= link_to 'Register', new_user_registration_path, class: 'btn btn-outline-primary btn-lg' %>
                    <%= link_to 'Sign in', '#', class: 'btn btn-outline-primary btn-lg' %>
                </p>
                <% end %>
            </div>
        </div>
    </div>
</div>
